$bgr-color: #83a89a;
$section-color: rgb(223, 221, 241);
$h1: rgb(249, 247, 235);
$border-color: mix(rgb(70, 156, 153), rgb(255, 192, 255));
$black: black;
$white: white;
$sec-border: rgb(35, 31, 55);