@use 'sass-utils' as *;

/* --- Headers ---- */
h1 {
    color: $text-sect;
    @include h1-desk;
}

h2 {
    margin-top: -200px;
}


h3 {
    color: $text-sect;
    border: 1px solid $sec-border;
    @include h3-desk;

}


/* ------- Selected movie---- */
h5 {
    font-size: 26px;
    margin-bottom: -20px;
}


p {
    font-size: 16px;

}


/* ---- Input form ----*/
form {
    input {
        padding: 5px;

    }

    .submit-button {
        @include submit-btn;

    }

    .submit-character {
        @include character;
    }
}

/* --- Three sections --- */
main {
    @include main;

    section {
        background-color: $text-sect;
        border: $circle-border-width * 0.5px solid $sec-border;
        box-shadow: circle-drop-shadow(2, $sec-border);
        color: $text-color;
        width: $circle-diameter * 1px;
        height: $circle-diameter * 1px;
        @include sec-desktop;

    }
}


/* ---- All buttons hover ---- */

button:hover {
    color: $text-sect;
    background-color: rgb(35, 31, 55);
}



/* ----- Movie section ------ */
section {
    #unorder-list {
        /* Remove bullets */
        list-style-type: none;
        text-align: justify;
        font-size: 32px;

    }

    /* ----- SeeMore button, movie section ----- */
    .showAll {
        @include more-btn;
    }

    #opening-crawl {
        padding: 20px;
        font-size: 22px;
    }

}

/*--- Planet ---*/
article {
    background-color: $text-sect;
    border: $circle-border-width * 0.5px solid #f1d0ff;
    color: $text-color;
    box-shadow: circle-drop-shadow(2, $text-sect);
    @include planet-article;


    h4 {
        margin-top: -30px;
    }

    .yavin-planet,
    .dago-planet,
    .musta-planet,
    .tato-planet {
        @include planet;
    }
}


section {

    .display-name,
    .birth-year,
    .eye-color,
    .display-gender,
    .hair-color,
    .display-height {
        @include character;
    }
}


/*------ Mobile version ------*/

@media all and (max-width: 1500px) {

    center {
        article {
            margin-left: 150px;
        }
    }

    body {
        h1 {
            @include mobile-h1;
        }
    }

    h3 {
        color: $text-sect;
        @include mobile-h3;
    }

    h5 {
        font-size: 25px;
    }

    html,
    body {
        main {
            @include mobile-main;

            section {
                color: $text-color;
                @include mobile-sec;
            }

            #unorder-list {
                font-size: 26px;
                padding: 20px;

            }

            #opening-crawl {
                padding: 20px;
                font-size: 20px;
            }


        }
    }
}

h4 {
    font-size: 3rem;
}

#favorites-list {
    list-style-type: none;
    }
