@use 'sass-utils' as *;



/* --- Headers ---- */
h1 {
    color: $text-sect;
    font-size: 7em;
    margin: 100px;
    padding: 65px;
    margin-top: -10px;
}

h2 {
    margin-top: -200px;
}


h3 {
    font-size: 1.5em;
    margin: 150px;
    padding: 50px;
    color: $text-sect;
    margin-top: -150px;
    border: 1px solid $sec-border;
    max-width: 1500px;

}


/* ------- Selected movie---- */
h5 {
    font-size: 26px;
    margin-bottom: -20px;
}


p {
    font-size: 16px;

}


/* ---- Input form ----*/
form {
    input {
        padding: 5px;

    }

    .submit-button {
        margin-left: 20px;
        margin-top: 30px;
        border: none;
        padding: 4px;
        font-family: 'Source Sans 3', sans-serif;

    }

    .submit-character {
        margin: 50px;
        text-align: center;
        font-family: 'Source Sans 3', sans-serif;
        margin-top: -20px;
    }
}

/* --- Three sections --- */
main {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    section {
        background-color: $text-sect;
        border: $circle-border-width * 0.5px solid $sec-border;
        margin: 20px;
        border-radius: 10%;
        width: $circle-diameter * 1px;
        height: $circle-diameter * 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        color: $text-color;
        margin-top: -800px;
        text-align: center;
        box-shadow: circle-drop-shadow(2, $sec-border);
        font-family: 'Source Sans 3', sans-serif;
        max-width: 100%;
    }
}


/* ---- All buttons hover ---- */

button:hover {
    color: $text-sect;
    background-color: rgb(35, 31, 55);
}



/* ----- Movie section ------ */
section {
    #unorder-list {
        /* Remove bullets */
        list-style-type: none;
        text-align: justify;
        font-size: 32px;

    }

    /* ----- SeeMore button, movie section ----- */
    .showAll {
        margin-left: 20px;
        margin-top: 30px;
        border: none;
        padding: 4px;
        font-family: 'Source Sans 3', sans-serif;

    }

    #opening-crawl {
        padding: 20px;
        font-size: 22px;
    }

}

/*--- Planet ---*/
article {
    background-color: $text-sect;
    border: $circle-border-width * 0.5px solid #f1d0ff;
    padding-inline-start: 20px;
    margin: 20px;
    border-radius: 70%;
    width: 1150px;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: $text-color;
    margin-top: -650px;
    text-align: center;
    box-shadow: circle-drop-shadow(2, $text-sect);
    font-family: 'Source Sans 3', sans-serif;

    h4 {
        margin-top: -30px;
    }

    .yavin-planet,
    .dago-planet,
    .musta-planet,
    .tato-planet {
        @include planet;
    }
}


section {

    .display-name,
    .birth-year,
    .eye-color,
    .display-gender,
    .hair-color,
    .display-height {
        @include character;
    }
}


/*------ Mobile version ------*/

@media all and (max-width: 1500px) {

    center {
        article {
            margin-left: 150px;
        }
    }

    body {
        h1 {
            margin: 20px;
            padding: 60px;
            margin-top: -10px;
            display: row;
        }
    }

    h3 {
        width: 1280px;
        margin-left: 200px;
        font-size: 18px;
        margin-bottom: 300px;
        margin-left: 65px;
        padding: 40px;
        color: $text-sect;
        margin-top: -50px;
    }

    h5 {
        font-size: 25px;
    }

    html,
    body {
        main {
            padding: 70;
            margin: 20px;
            display: flex;
            width: 1400px;
            margin-top: 200px;
            height: 100vh;
            margin-left: -20px;

            section {
                margin: 10px;
                border-radius: 10%;
                width: 1500px;
                height: 500px;
                font-size: 2em;
                color: $text-color;
                margin-top: -1000px;
                max-width: 100%;
                padding: 0;
            }

            #unorder-list {
                font-size: 26px;
                padding: 20px;

            }

            #opening-crawl {
                padding: 20px;
                font-size: 20px;
            }


        }
    }
}